body {
    margin: 0px;
    padding: none;
    font-family: 'Montserrat', sans-serif;
}

nav {
    height: 90px;
}

.logo {
    height: 70px;
    width: 100px;
}

.navbar-brand {
    margin-left: 10px;
}

.logo-text {
    padding-left: 3x;
    font-size: 16px;
    color: #696969;
}

.navbar-right {
    margin-left: auto;
    text-align: center;
    font-weight: normal;
}

.nav-item {
    padding-right: 2px;
}

#contact-btn {
    margin-top: 5px;
    border-radius: 6px;
    font-size: 10px;
    background-color: #77ADDD;
    border-color: #77ADDD;
}

#navbarColor03 {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-toggler {
    border-color: #77ADDD;
}

#hero-app {
    background-image: url("../img/photo-of-white-wall-1484759.jpg");
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-hero {
    width: 216px;
    height: 349.16px;
    padding-bottom: 18px;
}

#myVideo {
    height: 44em;
    right: 0;
    width: 100%;
    opacity: 40%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

#hero-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 2vh;
    width: 80%;
    border-radius: 14px;
    padding: 36px;
}

#lm-btn {
    margin-top: 40px;
    background-color: #77ADDD;
    border-color: #77ADDD;
}


/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-right {
        margin-right: 20px;
    }
    .nav-item {
        padding-right: 14px;
    }
    .hero-content {
        width: 20%;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
